.App {
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle, rgb(109, 74, 112), rgb(50, 15, 52));
}
